header{
	color: #ffffff;
	text-align: center;
	font-style:normal;
	background-image: url("../images/flywheel.jpg");
	padding: 25px;
	margin: 0 auto;
}

h1{
	color: #ffffff;
	font-variant: small-caps;
}

nav{
	text-align:center;
	text-decoration: none;
	margin: auto;
}

nav >a:link{
	color: #000000;
	background-color:#ffffff2a;
	border-radius: 2px; 
	width: 20%;
	padding: 25px 20px 25px 20px;
	display: inline-block;
	margin-right: auto;
	margin-left:  auto;
}

nav >a.active {
	background-color: #ffffff;
	color: #08074b;
  }

  body{
	padding: 30px;
	margin: 0 auto;
	margin-top: 0;
	width: 95%;
}

a{
	color: #08074b;
}

.left{
	width : 25%;
	background-color: rgb(10, 92, 10);
	float: left;
	height: 100vh;
  }

.right{
	  width: 75%;
	  float: right;
	  display: block; 
  }

 .left img {
	border: 2px solid rgb(15, 11, 11); /* Gray border */
	border-radius: 2px;  /* Rounded border */
	padding: 0px; /* Some padding */
	width: 50%; /* Set a small width */
	height: 20%;
	display: block;
	margin-right: auto;
	margin-left: auto;
  }

 