header{
	color: #ffffff;
	text-align: center;
	font-style:normal;
	background-image: url("../images/flywheel.jpg");
	padding: 20px;
	margin: 0 auto;
}

h1{
	color: #ffffff;
	font-variant: small-caps;
}

nav{
	text-align:center;
	text-decoration: none;
	margin: auto;
}

nav >a:link{
	color: #000000;
	background-color:#ffffff2a;
	border-radius: 2px; 
	width: 20%;
	padding: 5px 10px 15px 10px;
	display: inline-block;
	margin-right: auto;
	margin-left:  auto;
}

nav >a.active {
	background-color: #ffffff;
	color: #08074b;
  }

  body{
	padding: 1px;
	margin: 0 auto;
	margin-top: 0;
	width: 95%;
}

a{
	color: #08074b;
}

.left{
	width : 20%;
	background-color: rgb(10, 92, 10);
	float: left;
	height: 100vh;
  }

.right{
	  width: 80%;
	  float: right;
	  display: block; 
  }

 .left img {
	border: 2px solid rgb(15, 11, 11);
	border-radius: 2px;  
	width: 75%; 
	overflow: auto;
	height: 20%;
	display: block;
	margin-top: 25px;
	margin-right: auto;
	margin-left: auto;
  }

  .right table{
	width: 90%;
	float: right;
	display: block; 
	padding: 10px;
	text-align: center;
	font-family: Helvetica, Arial, sans-serif;	
}

.right th:nth-child(1){
	text-align: left;
}

.right td:nth-child(1){
	text-align: left;
}

.right th{
	height: 10px;
	padding: 15px;
	text-align: center;	 
	color: #ffffff;;
	background-color: #94da25; 
	border: 1px solid rgb(138, 165, 43);
}

.right td{
	background-color: #7f8381; 
	height: 10px;
	padding: 10px;
	font-style: inherit;
	font-size: 15px;
	opacity: 0.60;
}
 
.right tr:hover {
	opacity: 0.9;
  }